.calcular {
    form { 

        margin-top: 10px;

        .redondeo, .propina {
    
            text-align: left;
        }

        .total, .personas{
            color: gray;
        }

    }

}


