.calcular {
    form { 
        .total {
            color: blue;
        }

        .propina {
            color: darkslategray;
        }

        .personas {
            color: blueviolet;
        }

        .redondeo {
            color: blue;
        }

    }

}